<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dagongren8.teamplus.mapper.AttachmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.dagongren8.teamplus.entity.Attachment">
        <id column="attachment_id" property="attachmentId" />
        <result column="attachment_name" property="attachmentName" />
        <result column="attachment_filepath" property="attachmentFilepath" />
        <result column="attachment_type" property="attachmentType" />
        <result column="attachment_createtime" property="attachmentCreatetime" />
        <association property="task" javaType="cn.dagongren8.teamplus.entity.Task">
            <id column="task_id" property="taskId" />
            <result column="task_title" property="taskTitle" />
            <result column="task_content" property="taskContent" />
            <result column="task_rank" property="taskRank" />
            <result column="task_status" property="taskStatus" />
            <result column="task_duration" property="taskDuration" />
            <result column="task_createtime" property="taskCreatetime" />
            <result column="task_starttime" property="taskStarttime" />
            <result column="task_deadline" property="taskDeadline" />
            <result column="task_endtime" property="taskEndtime" />
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        attachment_id, task_id, attachment_name, attachment_filepath, attachment_type, attachment_createtime
    </sql>

    <select id="getAllTaskAttachments" resultMap="BaseResultMap">
        SELECT *
        FROM task
                 natural join attachment
        where task_id = ${taskId}
    </select>
    <select id="getAttachmentById" resultMap="BaseResultMap">
        SELECT *
        FROM attachment
        WHERE attachment_id = ${attachmentId}
    </select>
    <insert id="insertAttachment" useGeneratedKeys="true" keyProperty="attachmentId">
        INSERT INTO attachment(task_id, attachment_name, attachment_filepath, attachment_type)
        VALUES (#{task.taskId}, #{attachmentName}, #{attachmentFilepath}, #{attachmentType})
    </insert>
    <update id="updateAttachmentById" keyProperty="attachmentId">
        UPDATE attachment
        SET task_id = #{task.taskId},
            attachment_name = #{attachmentName},
            attachment_filepath = #{attachmentFilepath},
            attachment_type = #{attachmentType}
        WHERE attachment_id = #{attachmentId}
    </update>
    <delete id="deleteUserById">
        DELETE
        FROM attachment
        WHERE attachment_id = ${attachmentId}
    </delete>

</mapper>
